header {
  background-color: black;
}
.logo {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.7rem;
}

.logo a {
  color: white;
  text-decoration: none;
}

.logo p {
  font-size: 12px;
  color: white;
  margin: 0;
}

.main {
    background-color: white;
    color: black;
}

.row {
  text-align: center;
  padding-top: 1.5em;
  padding-bottom: 0.5em;
}

.col-md-10 {
  margin: 0 auto;
}

.col-md-10 h1 {
  color: black;
  font-size: 30px;
}

.login {
  margin: 0 auto;
}

.categories {
  width: 90%;
  margin: auto;
}

.head-title {
  display: inline-block;
}

.category-size {
  display: inline-block;
}

.large {
  display: inline-block;
}
.large button {
  font-size: 15px;
}

.medium {
  display: inline-block;
}
.medium button {
  font-size: 15px;
}

.small {
  display: inline-block;
}
.small button {
  font-size: 15px;
}

#nav {
    list-style: none;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
  }
   
.each-recipe {
  display: inline-block;
  padding-bottom: 50px;
  vertical-align: top;
  margin-left: 10px;
  margin-right: 10px;
}

#nav li {
    width: 250px;
    text-align: center;
    height: 50px;
    line-height: 25px;
    margin: 0 auto;
    padding: 10px;
  }

#nav a {
    color: black;
}


/* ranking.html */

.each-food {
  margin-bottom: 50px;
  text-align: center;
}


.food-image {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}

.rank {
  font-size: 1.5em;
}

.recipe-text {
  display: inline-block;
  width: 70%;
  margin-left: 20px;
}

.recipe-title {
  text-align: center;
}

.recipe-title a {
  color: black;
  font-weight: bold;
}