header {
  background-color: black;
}
.logo {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.5rem;
}

.logo a {
  color: white;
  text-decoration: none;
}

.logo p {
  font-size: 10px;
  color: white;
  margin: 0;
}

.main {
    background-color: white;
    color: black;
}



.row {
  text-align: center;
  padding-top: 1.5em;
  padding-bottom: 0.5em;
}

.col-md-10 {
  margin: 0 auto;
}

.col-md-10 h1 {
  color: black;
  font-size: 30px;
}

.login {
  margin: 0 auto;
}

.categories {
  width: 85%;
  margin: auto;
}

.categories h2 {
  padding-left: 2em;
}

#nav {
    list-style: none;
    overflow: hidden;
  }
   
#nav li {
    width: 140px;
    text-align: center;
    float: left;
    display: block;
    height: 50px;
    line-height: 50px;
    margin-right: 2px;
  }