{% extends "layout.html" %}
{% block content %}
<div class="row">
    <div class="col-md-10">
        <h1>Welcome to the Japanese Food Recipe website!</h1>
    </div>
    <div class="login">
        <a href="#" class="btn btn-dark btn-sm">Login</a>
    </div>
</div>
<hr>
<br>

<div class="categories">
    <h2>Categories</h2>
    <br>
    <ul id="nav">
        {% for category, url in categories.items() %}
            <li><a href={{ url }}>{{ category }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}