<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.9.0/css/flag-icon.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Japanese Food Recipe</title>
</head>
<body>
<header>
    <div class="l-header">
        <div class="logo">
            <a href="/"><span class="flag-icon flag-icon-jp"></span> Japanese Food Recipe</a><p>Recipe website to introduce authentic Japanese foods</p>
        </div>
    </div>
</header>
    <div class="main">
        <div class="row">
            <div class="col-md-10">
                <h1>Welcome to the Japanese Food Recipe website!</h1>
            </div>
            <div class="login-button">
                <a href="/register-login" class="btn btn-dark">Login/Register</a>
            </div>
        </div>
        <hr>
        <br>
            {% block content %}
            <!-- main contents -->
            {% endblock %}
    </div>
    <br>
    <hr>
<!--<footer>
        <div align="center">
            <p>Powered by FastAPI 0.36.0 &amp; starlette 0.12.9</p>
        </div>
    </footer> -->
</body>
</html>