{% extends "layout.html" %}
{% block content %}


<div class="categories">
    <br>
    <div class="categoryName-head">
        <div class="back-button">
            <a href="#" class="btn btn-radius-gradient" onclick="history.back()">Back >></a>
        </div>
        <div class="categoryName-ranking">
            <h2>{{ categoryName }}</h2>
        </div>
        <div class="login-div">
            <div class="login-button">
                <a href="/register-login" class="btn btn-dark">Login/Register</a>
            </div>
        </div>
    </div>
        {% for recipe in rankingRecipe %}
            <div class="each-food">
                <div class="food-image">
                    <p class="rank">{{ loop.index }}</p>
                    <a href="/{{ recipe.scale }}/{{ recipe.categoryId }}/recipe?recipeId={{ recipe.recipeId }}"><img src=".{{ recipe.recipeImage_pass }}"></a>
                </div>
                <div class="recipe-text">
                    <div class="recipe-title">
                        <p><a href="/{{ recipe.scale }}/{{ recipe.categoryId }}/recipe?recipeId={{ recipe.recipeId }}">{{ recipe.recipeTitle }}</a></p>
                    </div>
                    <div class="recipe-description">
                        <p>{{ recipe.recipeDescription }}</p>
                    </div>
                </div>
            </div>
            <br>
        {% endfor %}
</div>
{% endblock %}