{% extends "layout.html" %}
{% block content %}

<div class="categories">
    <br>
    <div class="recipeName-header">
        <div class="back-button">
            <a href="#" class="btn btn-radius-gradient" onclick="history.back()">Back >></a>
            
        </div>
        <div class="recipeName">
            <h2>{{ recipeTitle }}</h2>
        </div>
        <div class="login-div">
            <div class="login-button">
                <a href="/register-login" class="btn btn-dark">Login/Register</a>
            </div>
        </div>
    </div>
    <br>
    <div class="image">
        <img src="../../{{ recipes.recipeImage_pass }}">
    </div>
    <div class="materials">
        <table class="materials_table">
            <tbody>
                <tr>
                    <th>Items</th>
                    <th>Servings</th>
                </tr>
                {% for item, serving in recipeMaterials.items() %}
                <tr>
                    <td>{{ item }}</td>
                    <td>{{ serving }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <br>
    <hr style="margin-top: 50px;">
    <div class="recipeDescription">
        {% for description in recipeInstructions %}
            <p class="index">{{ loop.index }}. </p>
            <p class="description">{{ description }}</p>
            <hr>
        {% endfor %}
    </div>
</div>
{% endblock %}