{% extends "layout.html" %}
{% block content %}
<div class="row">
    <div class="col-md-10">
        <h1>Welcome to the Japanese Food Recipe website!</h1>
    </div>
    <div class="login">
        <a href="#" class="btn btn-dark">Login</a>
    </div>
</div>
<hr>
<br>

<div class="categories">
    <h2>{{ recipeName }}</h2>
    <br>
    <div class="image">
        <img src="{{ imageUrl }}">
    </div>
    <div class="materials">
        <table class="materials_table">
            <tbody>
                <tr>
                    <th>Items</th>
                    <th>Servings</th>
                </tr>
                {% for item, serving in materials.items() %}
                <tr>
                    <td>{{ item }}</td>
                    <td>{{ serving }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <br>
    <hr>
    <div class="recipeDescription">
        {% for index, description in descriptions.items() %}
        <p class="index">{{ index }}. </p>
        <p class="description">{{ description }}</p>
        <hr>
        {% endfor %}
    </div>
</div>
{% endblock %}