{% extends "layout.html" %}
{% block content %}

<div class="categories">
    <div class="recipeName">
        <h2>{{ recipeTitle }}</h2>
    </div>
    <br>
    <div class="image">
        <img src="../../{{ recipes.recipeImage_pass }}">
    </div>
    <div class="materials">
        <table class="materials_table">
            <tbody>
                <tr>
                    <th>Items</th>
                    <th>Servings</th>
                </tr>
                {% for item, serving in recipeMaterials.items() %}
                <tr>
                    <td>{{ item }}</td>
                    <td>{{ serving }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <br>
    <hr>
    <div class="recipeDescription">
        {% for description in recipeInstructions %}
            <p class="index">{{ loop.index }}. </p>
            <p class="description">{{ description }}</p>
            <hr>
        {% endfor %}
    </div>
</div>
{% endblock %}