{% extends "layout.html" %}
{% block content %}


    <br>
    <div class="register-login">
        <div class="register">
            <p>
                Username<br>
                <input type="text" size="30" maxlength="20" name="username" value="{{username}}" placeholder="between 4 to 20 letters">
            </p>
            <p>
                Password<br>
                <input type="password" size="30" maxlength="20" name="password" placeholder="between 6 to 20 letters">
            </p>
            <p>
                Password (confirm)<br>
                <input type="password" size="30" maxlength="20" name="password_tmp" placeholder="between 6 to 20 letters">
            </p>
            <p>
                Email<br>
                <input type="email" size="40" maxlength="60" name="mail" placeholder="sample@example.com">
            </p>
            <br>
            <button type="submit" class="btn btn-primary">Register</button>
        </div>
        <div class="login">
            <p>
                Username<br>
                <input type="text" size="30" maxlength="20" name="username" value="{{username}}" placeholder="between 4 to 20 letters">
            </p>
            <p>
                Password<br>
                <input type="password" size="30" maxlength="20" name="password" placeholder="between 6 to 20 letters">
            </p>
            <p>
                Email<br>
                <input type="email" size="40" maxlength="60" name="mail" placeholder="sample@example.com">
            </p>
            <br>
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </div>

 
<p class="text-danger">{% for e in error %}{{ e }}<br>{% endfor %}</p>
 
{% endblock %}