{% extends "layout.html" %}
{% block content %}


<div class="categories">
    <div class="head">
        <div class="head-title">
            <h2>Categories</h2>
        </div>
        <div class="category-size">
            <div class="large">
                <button type="button" onclick="location.href='/'">Large</button>
            </div>
            <div class="medium">
                <button type="button" onclick="location.href='/medium'">Medium</button>
            </div>
            <div class="small">
                <button type="button" disabled>Small</button>
            </div>
        </div>
    </div>
    
    <br>
    <ul id="nav">
        {% for category in smallCategories %}
            <div class="each-recipe">
                <a href="/small/?small_categoryId={{ category.categoryId }}"><img src="{{ category.imageUrl }}"></a>
                <li><a href="/small/?small_categoryId={{ category.categoryId }}">{{ category.categoryName }}</a></li>
            </div>
        {% endfor %}
    </ul>
</div>
{% endblock %}