{% extends "layout.html" %}
{% block content %}


<div class="categories">
    <div class="head">
        <div class="row">
            <div class="col-md-10">
                <h1>Welcome to the Japanese Food Recipe website!</h1>
            </div>
            <div class="login-div">
                <div class="login-button">
                    <a href="/register-login" class="btn btn-dark">Login/Register</a>
                </div>
            </div>
        </div>
        <hr>
    </div>
    <div class="categories-header">
        <div class="head-title">
            <h2>Categories</h2>
        </div>
        <div class="category-size">
            <div class="large">
                <button type="button" onclick="location.href='/'">Large</button>
            </div>
            <div class="medium">
                <button type="button" onclick="location.href='/medium'">Medium</button>
            </div>
            <div class="small">
                <button type="button" disabled>Small</button>
            </div>
        </div>
    </div>
    
    <br>
    <ul id="nav">
        {% for category in smallCategories %}
            <div class="each-recipe">
                <a href="/small/?small_categoryId={{ category.categoryId }}"><img src="{{ category.categoryImage_pass }}"></a>
                <li><a href="/small/?small_categoryId={{ category.categoryId }}">{{ category.categoryName }}</a></li>
            </div>
        {% endfor %}
    </ul>
</div>
{% endblock %}